body {
font-family: 'Red Hat Mono', monospace;
	background: #17243B;
	color: white;

}

#Contenido{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 2px dashed white;
	border-radius: 20px;
	width: 30%;
	transition: transform .2s;
	box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.19);
}
#Contenido:hover{
	transform: scale(1.1);
	box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.19);
}
